*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px auto auto;
    grid-template-areas: "nav nav nav nav nav nav" 
                         "latest-1 latest-1 latest-1 latest-2 latest-2 latest-2" 
                         "latest-3 latest-3 latest-3 latest-4 latest-4 latest-4";
}

nav{
    grid-area: nav;
    background-color: rgb(44, 44, 44);
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
}

nav > div {
    background-color: rgb(74, 74, 74);
    width:100px;
    height:50px;
    justify-content: center;
    align-items: center;
}

nav > div > a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
}

.link{
    height: 150px;
}

 .logo{
     display: flex;
     align-items: center;
     width:120px;

 }

 .search{
     display: flex;
     align-items: center;
     width:120px;

 }

 .latest-1 {
     grid-area: latest-1;
 }
 
 .latest-2 {
    grid-area: latest-2;
}

.latest-3 {
    grid-area: latest-3;
}

.latest-4 {
    grid-area: latest-4;
}
.latest-article-topic {
    background-color: red;
}